/* Color Variables */
/* @font-face definitions */
@font-face {
  font-family: 'ElegantIcons';
  src: url("../fonts/ElegantIcons.eot");
  src: url("../fonts/ElegantIcons.eot?#iefix") format("embedded-opentype"), url("../fonts/ElegantIcons.woff") format("woff"), url("../fonts/ElegantIcons.ttf") format("truetype"), url("../fonts/ElegantIcons.svg#ElegantIcons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "outlined-iconset";
  src: url("../fonts/outlined-iconset.eot");
  src: url("../fonts/outlined-iconset.eot?#iefix") format("embedded-opentype"), url("../fonts/outlined-iconset.woff") format("woff"), url("../fonts/outlined-iconset.ttf") format("truetype"), url("../fonts/outlined-iconset.svg#outlined-iconset") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Font Variables */
/* Miscellaneous Variables */
/* GLOBAL CUSTOM STYLES */
/* line 80, ../sass/main.scss */
.bg-cover {
  background-size: cover !important;
  background-attachment: fixed !important;
}

/* line 85, ../sass/main.scss */
.pad-large {
  padding-top: 99px;
  padding-bottom: 121px;
}

/* line 90, ../sass/main.scss */
.btn {
  height: inherit;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-family: "Pathway Gothic One", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  border: 2px solid #0d5cbf;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  letter-spacing: 1px !important;
  background: white;
}
/* line 108, ../sass/main.scss */
.btn h6.alt-h {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #353535;
}

/* line 121, ../sass/main.scss */
h1.headline {
  font-family: "Pathway Gothic One", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  font-size: 80px;
  color: white;
  letter-spacing: 24px;
  display: inline-block;
  right: 6px;
  line-height: 0.8;
  margin-bottom: 22px;
}

/* line 136, ../sass/main.scss */
p.text-white {
  font-family: "Cardo", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  text-rendering: optimizeLegibility;
  text-align: center;
  color: white;
  line-height: 38.4px;
  height: 38px;
  display: block;
  margin: 0 0 20px;
  padding: 0;
}

/* line 153, ../sass/main.scss */
.page-title h1 {
  font-family: "Pathway Gothic One", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  text-align: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  color: #353535;
  line-height: 60px;
  height: 60px;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 167, ../sass/main.scss */
.page-title h1 strong {
  font-weight: bold;
  color: #0d5cbf;
  line-height: inherit;
}
/* line 172, ../sass/main.scss */
.page-title h1 div {
  font-family: "Cardo", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19.2px;
  height: 38px;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #555555;
}
/* line 185, ../sass/main.scss */
.page-title h1 .line {
  background: #777777;
  display: inline-block;
  height: 1px;
  position: relative;
  text-align: center;
  z-index: 1;
  margin: 22px 0;
}

/* line 197, ../sass/main.scss */
#contact {
  opacity: 1;
  position: static;
  transition: all .8s ease-in-out;
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -ms-transition: all .8s ease-in-out;
}
/* line 204, ../sass/main.scss */
#contact #saturation-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  left: 0;
}
/* line 210, ../sass/main.scss */
#contact .background-selection {
  margin-bottom: 4em;
}
/* line 212, ../sass/main.scss */
#contact .background-selection .location-section.active .selector-overlay, #contact .background-selection .location-section:hover .selector-overlay {
  background: transparent;
  border: 3px solid #0d5cbf;
}
/* line 216, ../sass/main.scss */
#contact .background-selection .selctor-overlay {
  width: 102%;
  height: 102%;
  position: absolute;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  background: rgba(0, 0, 0, 0.3);
  border: 3px solid #888888;
  top: -1%;
  left: -1%;
}
/* line 233, ../sass/main.scss */
#contact .background-selection .selector-inner {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 237, ../sass/main.scss */
#contact .background-selection .selector-inner .selector-image {
  width: 100%;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  background-size: cover;
}
/* line 246, ../sass/main.scss */
#contact .background-selection #slo .selector-image {
  background: transparent url("/img/background-slo.jpg") no-repeat center;
}
/* line 249, ../sass/main.scss */
#contact .background-selection #dallas .selector-image {
  background: transparent url("/img/background-dal.jpg") no-repeat center;
}
/* line 252, ../sass/main.scss */
#contact .background-selection #nyc .selector-image {
  background: transparent url("/img/background-nyc.jpg") no-repeat center;
}
/* line 256, ../sass/main.scss */
#contact form {
  background: rgba(0, 0, 0, 0.5);
  padding: 22px;
  border: 2px solid white;
  margin-bottom: 66px;
}
/* line 261, ../sass/main.scss */
#contact form .contact-row {
  margin-top: 2em;
}
/* line 263, ../sass/main.scss */
#contact form .contact-row .contact-method {
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  cursor: pointer;
  margin-bottom: 66px;
}
/* line 270, ../sass/main.scss */
#contact form .contact-row .contact-method .icon {
  font-size: 40px;
  margin-bottom: 11px;
  display: inline-block;
}
/* line 277, ../sass/main.scss */
#contact form h1 {
  margin-bottom: 11px;
}
/* line 280, ../sass/main.scss */
#contact form .form-body {
  padding: 0 1em;
}
/* line 283, ../sass/main.scss */
#contact form input {
  -webkit-appearance: none;
  border: none;
  border-bottom: 2px solid white;
  width: 100%;
  background: none;
  box-shadow: none;
  font-size: 18px;
  font-family: "Cardo", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: italic;
  margin-bottom: 22px;
  color: white;
  padding-bottom: 11px;
}
/* line 297, ../sass/main.scss */
#contact form .btn {
  color: white;
  margin: 11px 0 11px 11px;
}
/* line 302, ../sass/main.scss */
#contact .icon {
  color: white;
}
/* line 306, ../sass/main.scss */
#contact .divider-content {
  position: relative;
  z-index: 3;
}
/* line 309, ../sass/main.scss */
#contact .divider-content .copy-text {
  width: 20em;
  display: inline-block;
  font-size: 12px;
}

/* HOME SERVICES SECTION  */
/* line 319, ../sass/main.scss */
#services-slider-controls {
  max-width: 62.5em;
  width: 100%;
  margin: 0 auto 3.5em;
  text-align: center;
}
/* line 324, ../sass/main.scss */
#services-slider-controls .control {
  border-color: #0d5cbf;
  display: inline-table;
  width: 200px;
  height: 60px;
  vertical-align: middle;
}
/* line 331, ../sass/main.scss */
#services-slider-controls .active .btn {
  color: white;
  background: #0d5cbf;
}

/* line 337, ../sass/main.scss */
.slide {
  height: 100%;
  width: 33.33%;
  /* probably need to change this if you have more or less slides than 3. */
  float: left;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 135% auto;
  position: relative;
  right: -1px;
}
/* line 346, ../sass/main.scss */
.slide .service-image {
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
/* line 351, ../sass/main.scss */
.slide #service-image-1 {
  background: transparent url("/img/awesome-service-image.png") no-repeat 0 0;
}
/* line 354, ../sass/main.scss */
.slide #service-image-2 {
  background: transparent url("/img/awesome-service-image.png") no-repeat 0 0;
}
/* line 357, ../sass/main.scss */
.slide #service-image-3 {
  background: transparent url("/img/awesome-service-image.png") no-repeat 0 0;
}
/* line 360, ../sass/main.scss */
.slide .home-service-text {
  padding-left: 2em;
  height: 100%;
}
/* line 363, ../sass/main.scss */
.slide .home-service-text h2 {
  font-family: "Pathway Gothic One", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2.3125rem;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #353535;
  margin: 1em 0;
  padding: 0;
}
/* line 374, ../sass/main.scss */
.slide .home-service-text p {
  font-family: "Cardo", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  color: #555555;
  margin: 0 0 1.25rem;
}
/* line 383, ../sass/main.scss */
.slide .home-service-text ul {
  font-family: "Cardo", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  margin: 0 0 1.25rem;
  list-style-position: outside;
}
/* line 388, ../sass/main.scss */
.slide .home-service-text ul li {
  font-family: inherit;
  margin: 0;
  padding: 0;
  color: #353535;
}
/* line 396, ../sass/main.scss */
.slide #service-text-1 {
  background: transparent url("/img/chicken-icon.png") bottom right no-repeat;
}
/* line 399, ../sass/main.scss */
.slide #service-text-2 {
  background: transparent url("/img/chicken-icon.png") bottom right no-repeat;
}
/* line 402, ../sass/main.scss */
.slide #service-text-3 {
  background: transparent url("/img/chicken-icon.png") bottom right no-repeat;
}

/* HOME CASE STUDIES SECTION */
/* line 409, ../sass/main.scss */
#case-studies {
  position: relative;
  background: white;
}
/* line 412, ../sass/main.scss */
#case-studies #case-studies-slider {
  margin: 0;
  padding: 0;
}
/* line 415, ../sass/main.scss */
#case-studies #case-studies-slider ul.slides {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 419, ../sass/main.scss */
#case-studies #case-studies-slider ul.slides li {
  background-position-x: 0px !important;
  background-size: cover !important;
}

/* line 427, ../sass/main.scss */
.content-box {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  position: absolute;
  padding: 1.5em !important;
  max-width: 300px;
  top: auto;
}
/* line 434, ../sass/main.scss */
.content-box h2 {
  font-family: "Pathway Gothic One", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: white;
  margin-bottom: 0.5em;
}
/* line 443, ../sass/main.scss */
.content-box p {
  margin: 0;
  padding: 1em 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
/* line 449, ../sass/main.scss */
.content-box a.btn {
  margin-top: 22px;
}
/* line 451, ../sass/main.scss */
.content-box a.btn h6 {
  color: white;
}

/* line 457, ../sass/main.scss */
.content-box.top {
  top: 125px;
}

/* line 461, ../sass/main.scss */
.content-box.left {
  left: 125px;
}

/* line 465, ../sass/main.scss */
.content-box.right {
  right: 175px;
}

/* line 468, ../sass/main.scss */
.content-box.bottom {
  bottom: 125px;
}

/* HOME PHILOSOPHY SECTION */
/* line 474, ../sass/main.scss */
#pizza-image {
  background: #777777;
}
/* line 476, ../sass/main.scss */
#pizza-image h1 {
  color: white;
}
/* line 479, ../sass/main.scss */
#pizza-image .line {
  background: white;
}
/* line 481, ../sass/main.scss */
#pizza-image .line .icon {
  background: #777777;
}
/* line 485, ../sass/main.scss */
#pizza-image .pizza-image {
  padding-bottom: 2em;
}

/* HOME STATS SECTION */
/* line 492, ../sass/main.scss */
#stats {
  background: #f7f7f7;
}
/* line 494, ../sass/main.scss */
#stats .stat {
  border-right: 1px solid #cccccc;
}
/* line 496, ../sass/main.scss */
#stats .stat .icon {
  color: #0d5cbf;
  font-size: 42px;
}
/* line 500, ../sass/main.scss */
#stats .stat span {
  color: #777777;
  font-style: italic;
  font-size: 18px;
}

/* PEOPLE HEADING SECTION */
/* line 512, ../sass/main.scss */
#people-heading .line {
  background: white;
  border: white;
}

/* PEOPLE TILES */
/* line 520, ../sass/main.scss */
.tiles .profiles li.grid-item {
  height: 300px;
  perspective: 1000;
  transition: all .7s;
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  -ms-transition: all .7s;
}
/* line 527, ../sass/main.scss */
.tiles .profiles li.grid-item .hidden {
  opacity: 0 !important;
}

/* line 532, ../sass/main.scss */
.tiles ul li.card-container .card {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  transition-style: preserve 3d;
  -webkit-transition-style: preserve 3d;
  -moz-transition-style: preserve 3d;
  -ms-transition-style: preserve 3d;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
}
/* line 554, ../sass/main.scss */
.tiles ul li.card-container .card .front {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  border: 1px solid #6e6e6e;
}
/* line 566, ../sass/main.scss */
.tiles ul li.card-container .card .front .inner {
  width: 100%;
  height: 100%;
  background-color: #0d5cbf;
  background-position: center center;
  background-size: cover;
}
/* line 574, ../sass/main.scss */
.tiles ul li.card-container .card .back {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}
/* line 589, ../sass/main.scss */
.tiles ul li.card-container .card .back .inner {
  background-color: white;
  background-size: cover;
}
/* line 593, ../sass/main.scss */
.tiles ul li.card-container .card .back h2 {
  font-family: "Pathway Gothic One", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 1.75em;
  color: #6e6e6e;
  margin: 0.5em;
  padding: 0 0 .5em 0;
  border-bottom: solid 1px #0d5cbf;
}
/* line 601, ../sass/main.scss */
.tiles ul li.card-container .card .back h3 {
  position: absolute;
  width: 100%;
  bottom: 1em;
}
/* line 606, ../sass/main.scss */
.tiles ul li.card-container .card .back h5 {
  margin: 1em 0 0.5em;
}
/* line 609, ../sass/main.scss */
.tiles ul li.card-container .card .back div {
  font-family: "Cardo", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #555555;
}
/* line 617, ../sass/main.scss */
.tiles ul li.card-container .card .back-y {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}

/* line 627, ../sass/main.scss */
.modal-row .profile-pic {
  background-size: cover;
  background-position: center center;
}
/* line 631, ../sass/main.scss */
.modal-row .profile-pic .content .heading-row {
  position: relative;
}
/* line 633, ../sass/main.scss */
.modal-row .profile-pic .content .heading-row .employee-social {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 0.55em;
  padding: 0;
}
/* line 639, ../sass/main.scss */
.modal-row .profile-pic .content .heading-row .employee-social .social-link {
  width: 35px;
  height: 35px;
  background-size: contain;
  float: right;
  margin: 3px;
}
/* line 645, ../sass/main.scss */
.modal-row .profile-pic .content .heading-row .employee-social .social-link a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 651, ../sass/main.scss */
.modal-row .profile-pic .content .heading-row .employee-social .type-Twitter {
  background-image: url("/img/social_icons/twitter.png") no-repeat;
}
/* line 654, ../sass/main.scss */
.modal-row .profile-pic .content .heading-row .employee-social .type-Facebook {
  background-image: url("/img/social_icons/facebook.png") no-repeat;
}
/* line 657, ../sass/main.scss */
.modal-row .profile-pic .content .heading-row .employee-social .type-Spotify {
  background-image: url("/img/social_icons/spotify.png") no-repeat;
}
/* line 660, ../sass/main.scss */
.modal-row .profile-pic .content .heading-row .employee-social .type-Instagram {
  background-image: url("/img/social_icons/instagram.png") no-repeat;
}
/* line 663, ../sass/main.scss */
.modal-row .profile-pic .content .heading-row .employee-social .type-LinkedIn {
  background-image: url("/img/social_icons/linkedin.png") no-repeat;
}
/* line 667, ../sass/main.scss */
.modal-row .profile-pic .content .heading-row .employee-title {
  position: relative;
  height: 10px;
}
/* line 670, ../sass/main.scss */
.modal-row .profile-pic .content .heading-row .employee-title div {
  transition: opacity .6s;
  -webkit-transition: opacity .6s;
  -moz-transition: opacity .6s;
  -ms-transition: opacity .6s;
  position: absolute;
}
/* line 680, ../sass/main.scss */
.modal-row .profile-pic .stat {
  border-right: 1px solid #cccccc;
}
/* line 682, ../sass/main.scss */
.modal-row .profile-pic .stat .icon {
  color: #0d5cbf;
  font-size: 42px;
}
/* line 686, ../sass/main.scss */
.modal-row .profile-pic .stat span {
  color: #777777;
  font-style: italic;
  font-size: 18px;
}

/* WORK HEADING SECTION */
/* line 698, ../sass/main.scss */
.portfolio-heading {
  margin-top: 4em;
}

/* line 702, ../sass/main.scss */
.work-tiles {
  padding-bottom: 99px;
}
/* line 705, ../sass/main.scss */
.work-tiles .portfolio-filters .filter {
  text-transform: uppercase;
  font-family: "Pathway Gothic One", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  cursor: pointer;
  width: 200px;
}
/* line 712, ../sass/main.scss */
.work-tiles .portfolio-filters .filter:first-child {
  margin-right: 1em;
}
/* line 715, ../sass/main.scss */
.work-tiles .portfolio-filters .filter.active {
  color: white;
  background: #0d5cbf;
}
/* line 720, ../sass/main.scss */
.work-tiles .portfolio-entries {
  margin-top: 3em;
  position: relative;
}

/* line 727, ../sass/main.scss */
#caseName .blue {
  color: #0d5cbf;
}

/* line 731, ../sass/main.scss */
.project_url {
  float: right;
  color: white;
  cursor: pointer;
  margin-top: 15px;
}

/* JOBS PAGE */
/* line 742, ../sass/main.scss */
.job_tile .service {
  height: 361px;
}
/* line 745, ../sass/main.scss */
.job_tile p {
  font-size: 0.9rem;
  margin-bottom: 0;
}

/* line 751, ../sass/main.scss */
a.job_back {
  position: relative;
  float: left;
  left: 10%;
  color: #0d5cbf;
}

/* line 758, ../sass/main.scss */
a.job_application {
  position: relative;
  float: right;
  right: 10%;
  color: #0d5cbf;
}
